services:
  mysql:
    image: mysql:8.0
    container_name: habit-tracker-mysql
    environment:
      MYSQL_ROOT_PASSWORD: RvT2156G!p
      MYSQL_DATABASE: habittracker
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: habit-tracker-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/habittracker
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: RvT2156G!p
    depends_on:
      mysql:
        condition: service_healthy
    restart: on-failure

volumes:
  mysql_data: